.root{
    align-items: center;
    -fx-background-color: darkgray;
}
#startImage{
    -fx-background-image: url('/pictures/logo.png');
    -fx-background-repeat: no-repeat;
    -fx-alignment: center;
}